body{
    margin:0px;
    padding: 0px;
}
body{
    background-image: url(../img/fondo.jpg);
    background-size:100%;
    background-repeat: no-repeat;
}
.main-contenedor{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20%;
}
.controls{
    width: 30%;
    padding: 1em;
    animation-name: cambiarcolor;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    animation-duration: 3s;
    
}

.imagen{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1em;
}
.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: girar;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    animation-duration: 3s;
}
.titulo{
    font-family:monospace;
    font-size: 20px;
}
.controls button{

    border-radius: 10px;
}
@keyframes girar{
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes cambiarcolor{
    0%{
        background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
        background-blend-mode: multiply,multiply;
    }
    20%{
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    }
    40%{
        background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    }
    60%{
        background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    }
    80%{
        background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    }
    100%{
        background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
    }
    

}